* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Comic Sans MS', Verdana, sans-serif;
}

header {
    margin: 40px;
}

header h1 {
    font-size: 2.5em;
}

header h3 {
    margin-top: 10px;
}

header h1, header h3 {
    text-align: center;
}

button {
    padding: 20px;
    border: 1px solid #000;
    cursor: pointer;
}

.addBtn {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    transition-duration: 0.3s;
}

.addBtn:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition-duration: 0.3s;
}

aside {
    margin: 40px 30%;
}

aside p {
    font-size: 1.2em;
    font-weight: 600;
}

.filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter button {
    margin: 0 20px;
}

#parentContainer {
    border: 3px solid #000;
    height: 400px;
    padding: 0 40px;
    overflow: scroll;

}

.item-text::before {
    content: "• ";
    color: black;
}

.item-text {
    display: block;
    font-weight: 400;
    padding: 10px 20px;
    border-bottom: 2px dashed #000;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.active {
    border: 4px solid #000;
}